* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.dark {
  background: hsl(207, 26%, 17%);
  color: white;
}
.dark header {
  background: hsl(209, 23%, 22%);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(200, 15%, 8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
  -webkit-transition: 0.9s linear, opacity 4s linear, visibility 0.4s linear;
  -o-transition: 0.9s linear, opacity 4s linear, visibility 0.4s linear;
  transition: 0.9s linear, opacity 4s linear, visibility 0.4s linear;
}
.loader.close {
  opacity: 0;
  visibility: hidden;
}
.loader .spinner .icon {
  font-size: 80px;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 5%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: white;
}

h1 {
  font-size: 15px;
}

.toggle {
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.fa-moon {
  margin-right: 7px;
}

.fas {
  margin-right: 9px;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 5% 0 5%;
}
@media screen and (min-width: 1050px) {
  .search-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
}

.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  margin-bottom: 40px;
  border-radius: 7px;
  max-width: 500px;
}
@media screen and (min-width: 1050px) {
  .search-bar-container {
    width: 100%;
  }
}

.search-bar {
  width: 100%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  border-radius: 5px;
}

.search-button {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 70px;
}

.fa-magnifying-glass {
  padding: 10px 0 10px 8px;
  font-size: 15px;
}

input {
  padding: 10px 0;
  width: 70%;
  border: none;
  background-color: inherit;
}

.dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 18px;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.dropDown__list {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  border-radius: 5px;
  width: 200px;
  padding: 10px 0;
  position: absolute;
  background: white;
}
.dropDown__list p {
  padding: 5px 0 5px 20px;
  cursor: pointer;
}

#dropdownMenu {
  display: none;
}

.countries-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  gap: 45px;
  margin-top: 40px;
}

.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 370px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}
.country__flag {
  width: 250px;
  height: 45%;
}
.country__flag img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.country__data {
  padding: 25px;
}
.country__data--name {
  padding: 15px 0;
}
.country__data p {
  padding-bottom: 10px;
}

.back-button-container {
  width: 100%;
  padding: 0 1.375rem;
  margin: 60px 0;
}

.btn {
  background-color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 7px 21px;
  color: hsl(200, 15%, 8%);
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 8px 8px 0;
}

.country-container {
  padding: 0 1.25rem;
}

.country-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .country-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.country-flag {
  width: 100%;
  overflow: hidden;
  max-width: 450px;
  max-height: 350px;
}
@media screen and (min-width: 1200px) {
  .country-flag {
    height: 350px;
  }
}
.country-flag img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .country-flag img {
    height: 350px;
  }
}

.country-info {
  padding: 40px 0;
}

.country-title {
  margin-bottom: 30px;
  font-size: 25px;
}
@media screen and (min-width: 1200px) {
  .country-title {
    margin-left: 100px;
  }
}

ul {
  list-style-type: none;
}
ul li {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  ul li {
    margin-bottom: 10px;
  }
}

.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 800px) {
  .col-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.col-2__A {
  margin-bottom: 65px;
}
@media screen and (min-width: 1200px) {
  .col-2__A {
    margin-left: 100px;
  }
}

.col-2__B {
  margin-bottom: 65px;
}
@media screen and (min-width: 800px) {
  .col-2__B {
    margin-left: 180px;
  }
}

.col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 17px;
}
@media screen and (min-width: 1200px) {
  .col-3 {
    margin-left: 100px;
  }
}

.border-countries-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.no-border {
  padding-top: 3px;
}