* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    // --background-color: hsl(0, 0%, 98%);
    // --text-color: hsl(200, 15%, 8%);
    // --elements-color: white;
    // background: var(--background-color);
    // color: var(--text-color);
    background-color: hsl(0, 0%, 98%);
}

// .dark {
//     background-color: hsl(207, 26%, 17%);
// }

// body.dark {
//     --background-color: hsl(207, 26%, 17%);
//     --text-color: white;
//     --elements-color: hsl(209, 23%, 22%);
// }

.dark {
    background: hsl(207, 26%, 17%);
    color: white;

    & header {
        background: hsl(209, 23%, 22%);

    }
}

// .dark-blue {
//     background: hsl(209, 23%, 22%);
//     color: white;
// }


header {
    display: flex;
    justify-content: space-between;
    padding: 30px 5% ;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    background: white;
}


h1 {
    font-size: 15px;
}



button {
    background: none;
    border: none;
    cursor: pointer;
}

// .white {
//     color: white;
// }

.fa-moon {
    margin-right: 7px;
}

.fas {
    margin-right: 9px;
}


.search-section {
    display: flex;
    flex-direction: column;
    margin: 20px 5% 0 5%;


    @media screen and (min-width: 1050px) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-bottom: 40px;
    border-radius: 7px;
    max-width: 500px;

    @media screen and (min-width: 1050px) {
        width: 100%;
    }
}


.search-bar {
    width: 100%;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
    padding: 8px 0;
    border-radius: 5px;
}



.search-button {
    flex-grow: 2;
    width: 70px;
}

.fa-magnifying-glass {
    padding:10px 0 10px 8px;
    font-size: 15px;

}

input {
    padding: 10px 0;
    width: 70%;
    border: none;
    background-color: inherit;
}

.dropDown {
    display: flex;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
    width: 200px;
    padding: 18px;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;

    &__list {
        box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
        margin-top: 5px;
        border-radius: 5px;
        width: 200px;
        padding: 10px 0;
        position: absolute;
        background: white;
        & p {
            padding: 5px 0 5px 20px;
            cursor: pointer;
        }
    }
}

// .dropDown__list.dark-blue {
//     background: hsl(207, 26%, 17%);
// }


#dropdownMenu {
    display: none;
}


.countries-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
    gap: 45px;
    margin-top: 40px;
}

.country {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    width: 250px;
    height: 370px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;

    &__flag {
        width: 250px;
        height: 45%;

        & img {
           width: 100%;
           height: 100%;
           border-radius: 5px 5px 0 0;
           object-fit: cover;
        }       
    }

    &__data {
        padding: 25px;

        &--name {
            padding: 15px 0;
        }

        & p {
            padding-bottom: 10px;
        }
    }
}


////////////////////////////////country page////////////////////////////////////////



.back-button-container {
    width: 100%;
    padding: 0 1.375rem;
    margin: 60px 0;
}

.btn{
    background-color: white;
    box-shadow: 0 1px 4px rgb(0, 0, 0, 0.2);
    padding: 7px 21px;
    color: hsl(200, 15%, 8%);
    text-decoration: none;
    display: inline-flex;
    margin: 0 8px 8px 0;
}

.country-container {
    padding: 0 1.25rem;
}

.country-details {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.country-flag {
    width: 100%;
    overflow: hidden;
    max-width: 450px;
    max-height: 350px;

    @media screen and (min-width: 1200px) {
        height: 350px;
    }

    & img {
        max-width: 100%;
        object-fit: cover;
        display: inline-block;

        @media screen and (min-width: 1200px) {
            height: 350px;
        }
    }
}

.country-info {
    padding: 40px 0;
}

.country-title {
    margin-bottom: 30px;
    font-size: 25px;

    @media screen and (min-width: 1200px) {
        margin-left: 100px;
    }
}

ul {
    list-style-type: none;

    & li {
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 10px;
        }
    }
}

.col-2 {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 800px) {
        flex-direction: row;
    }
}

.col-2__A {
    margin-bottom: 65px;

    @media screen and (min-width: 1200px) {
        margin-left: 100px;

    }
}

.col-2__B {
    margin-bottom: 65px;

    @media screen and (min-width: 800px) {
        margin-left: 180px;
    }
    
}

.col-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;

    @media screen and (min-width: 1200px) {
        margin-left: 100px;

    }
}

.border-countries-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.no-border {
    padding-top: 3px;
}

